
.poster-paper{
    height: 475px;
    border: 1px solid gold;
    border-radius: 10px;
    overflow: hidden;
}

.movie-title{
    margin-top: 100px;
}

.blank-row {
    margin-top: 50px;  
    visibility:hidden;
  }
  
.movie-overview-text{
    color: rgb(228, 221, 221);
    
}

.poster-row{

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;

}

.review-row{
    padding-top: 20px ;
   
    padding-bottom: 30px;
}


.the-whole-review-page{
    background-color: rgba(0, 0, 0, 0.763);
}

.review-writter-name{
    color: rgb(255, 196, 0);
}

.review-created-time{
    color: rgb(240, 240, 240);
}

.the-review-input-box{
    margin-left: 50px;
    margin-right: 50px;
}


.all-the-user-reviews{
    margin-left: 50px;
    margin-right: 50px;
}

 