
.poster-paper{
    height: 750px;
    border: 1px solid gold;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 100px;
}

.blank-row {
    margin-top: 100px;  
    margin-bottom: 20px; 
    visibility:hidden;
  }
  
.movie-overview-text{
    color: rgb(228, 221, 221);
    
}

.poster-row{

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-row{
    padding-top: 20px ;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
}



