.footer {
    background-color: #343a40;
    color: #f8f9fa;
  }
  
  .footer a {
    color: #f8f9fa;
  }
  
  .footer a:hover {
    color: #007bff;
  }



  

.Copyright-text{
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.2);
}


.the-icons a{
  font-size: 50px;
  text-decoration: none;
  color: white;
}

.the-icons a:hover {
  color: rgb(174, 174, 174); /* You can customize the hover color if needed */
}


.all-the-links a{
  font-size: 18px;
  color: white;
}

.all-the-links a:hover {
  color: rgb(174, 174, 174); /* You can customize the hover color if needed */
}
 