  .carousel-container {
    
    width: 75%;
    margin-top: 100px;
    
  }
  
  .text-card {
    border: 10px solid black;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    margin: 0;
    background-position: fixed;
    background-size: cover;
  }
  
  .text-card img {
    height: 100%;
    width: 100%;
  }

  .the-whole-carousel{


    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .the-whole-homepage{
    background-color: rgba(0, 0, 0, 0.655);
  }

  .below-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;

  }